{% load forms %}
<div class="panel panel-default">
  <div class="panel-heading ">
    <h4>
      <i class="fa fa-tasks"></i>
      [[ ward_round.name ]]
    </h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <p>
        Patient [[ episodeNumber + 1 ]] of [[ totalEpisodes ]]
        <br />
        <button class="btn btn-secondary btn-lg" ng-click="findPatient()">
          {% icon 'fa-search' %}
          Find<br /> Patient
        </button>
      </p>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <a ng-show="previous" class="btn btn-secondary" href="[[ previous ]]">
            <i class="fa fa-chevron-left small-icon"></i>
            Previous
          </a>
        </div>
        <div class="col-md-12">
          <a ng-show="next" class="btn btn-secondary" href="[[ next ]]">
            Next
            <i class="fa fa-chevron-right small-icon"></i>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
