<div class="container content-offset">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>
        [[ ward_round.name ]] Ward Round
      <button type="button" class="btn btn-lg btn-danger pull-right"
              ng-click="start()"
              >
        Start
        <i class="fa fa-play-circle"></i>
      </button>

      </h2>
      <h4>[[ results.length ]] Episodes</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12" ng-show="episodes.length == 0">
          <p class="lead">
            No episodes currently match this ward round's criteria.
          </p>
        </div>
      {% if wardround.filter_template %}
        <div class="col-md-12">
          <h3>
            <i class="fa fa-filter"></i>
            Filters
          </h3>
        </div>
      </div>
      <div class="row">
        {% include wardround.filter_template %}
      {% endif %} 
      {% include '_episode_summary_table.html' %}
      </div>
    </div>
  </div>
